#header-adjustments
{
  padding-bottom: 2%;
}

main
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.flex-container
{
  margin: 25px;
  inline-size: 15cm;
  text-align: center;
}

body
{
  margin-bottom: 10%;
}

.scrolling-image
{
  height: 400px;
  margin: 10px;
  animation: fade linear;
  animation-timeline: scroll();
}

@keyframes fade
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}