#header-adjustments
{
  padding-bottom: 3%;
}

main
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto;
  padding-bottom: 5%;
}

section p
{
  font-weight: 100;
  inline-size: 10cm;
}

#name-under-image
{
  font-weight: normal;
  font-size: 0.8em;
}

.footer-row
{
  margin: 1%;
  padding-bottom: 2%;
}