html { 
  width: 100%; 
  height: 100%; 
}

header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: gray solid 1px;
}

header > p
{
  font-weight: bold;
  font-style: italic;
}

#selected
{
  color: #f36f0b;
}

nav > a
{
  align-content: space-between;
}

a
{
  text-decoration: none;
  color: rgb(147, 145, 138);
}

a:hover
{
  color: #f36f0b;
  transition: 2s;
}

body
{
  background-color: #fffff2;
  font-family: "Playfair Display";
  color: #f36f0b;
  margin: 0%;
  width: 100vw; 
  min-height: 100vh;  
}

main
{
  border-bottom: gray solid 1px;
}

footer
{
  margin-top: auto;
  text-align: center;
}
