header
{
  padding-bottom: 50px;
}

img
{
  height: 250px;
  width: 250px;
  border-radius: 60%;
}

main
{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.flex-container
{
  margin: 25px;
  inline-size: 10cm;
}

footer
{
  padding-top: 2%;
}

.footer-row
{
  margin: 1%;
}